<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.jackrex.v2ex"
    android:versionCode="10"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <application
        android:name=".VApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="info.jackrex.v2ex.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GuideActivity" ></activity>
        <activity android:name="AboutActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="MainActivity" android:screenOrientation="portrait"></activity>
        
        
        <meta-data android:value="YOUR_APP_KEY" android:name="UMENG_APPKEY"></meta-data>
<meta-data android:value="530c93c556240bfac503b6ff" android:name="UMENG_CHANNEL"/>


<service
    android:name="com.umeng.common.net.DownloadingService"
    android:process=":DownloadingService" >
</service>
<activity 
    android:name="com.umeng.update.UpdateDialogActivity"
    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
</activity>

<activity android:name="com.umeng.fb.ConversationActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.umeng.fb.ContactActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="DetailActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>
        <activity android:name="WebViewActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>


    </application>

</manifest>
